.auth {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: end;
    padding: 40px 44px;

    h1 {
        font-size: 96px;
        text-transform: uppercase;
        margin: 0;
    }

    .logo {
        position: absolute;
        bottom: 500px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;

            background-image: url("backround-light.svg");
            width: 592px;
            height: 592px;
            top: -100px;
            left: -100px;
        }

        img {
            flex-shrink: 0;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: end;

        padding: 8px 28px 56px 290px;
        width: fit-content;
        background-color: var(--color-2);

        background: linear-gradient(300deg, rgba(1, 46, 64, 0) 2.72%, rgba(3, 119, 166, 0.3) 93.25%);
        box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(14px);
        clip-path: polygon(
            100% 0%,
            75.065% 0%,
            66.778% 18.052%,
            10.676% 18.052%,
            10.676% 18.052%,
            9.752% 18.053%,
            8.918% 18.061%,
            8.165% 18.084%,
            7.488% 18.129%,
            6.877% 18.203%,
            6.327% 18.313%,
            5.83% 18.466%,
            5.377% 18.67%,
            4.962% 18.933%,
            4.577% 19.26%,
            4.577% 19.26%,
            4.241% 19.613%,
            3.92% 20.007%,
            3.613% 20.438%,
            3.322% 20.906%,
            3.046% 21.409%,
            2.788% 21.945%,
            2.548% 22.512%,
            2.327% 23.11%,
            2.125% 23.737%,
            1.944% 24.39%,
            1.944% 24.39%,
            1.776% 25.14%,
            1.641% 25.949%,
            1.536% 26.831%,
            1.458% 27.801%,
            1.401% 28.873%,
            1.363% 30.062%,
            1.34% 31.382%,
            1.328% 32.848%,
            1.324% 34.474%,
            1.324% 36.275%,
            1.324% 79.198%,
            1.324% 79.198%,
            1.324% 80.999%,
            1.328% 82.625%,
            1.34% 84.091%,
            1.363% 85.411%,
            1.401% 86.6%,
            1.458% 87.672%,
            1.536% 88.642%,
            1.641% 89.524%,
            1.776% 90.333%,
            1.944% 91.083%,
            1.944% 91.083%,
            2.125% 91.736%,
            2.327% 92.362%,
            2.548% 92.96%,
            2.788% 93.528%,
            3.046% 94.064%,
            3.322% 94.567%,
            3.613% 95.035%,
            3.92% 95.466%,
            4.241% 95.859%,
            4.577% 96.213%,
            4.577% 96.213%,
            4.962% 96.54%,
            5.377% 96.802%,
            5.83% 97.007%,
            6.327% 97.16%,
            6.877% 97.27%,
            7.488% 97.344%,
            8.165% 97.389%,
            8.918% 97.412%,
            9.752% 97.42%,
            10.676% 97.421%,
            90.647% 97.421%,
            90.647% 97.421%,
            91.571% 97.42%,
            92.406% 97.412%,
            93.158% 97.389%,
            93.836% 97.344%,
            94.446% 97.27%,
            94.996% 97.16%,
            95.494% 97.007%,
            95.947% 96.802%,
            96.362% 96.54%,
            96.747% 96.213%,
            96.747% 96.213%,
            97.082% 95.859%,
            97.404% 95.466%,
            97.711% 95.035%,
            98.002% 94.567%,
            98.277% 94.064%,
            98.535% 93.528%,
            98.775% 92.96%,
            98.997% 92.362%,
            99.198% 91.736%,
            99.38% 91.083%,
            99.38% 91.083%,
            99.548% 90.333%,
            99.682% 89.524%,
            99.787% 88.642%,
            99.866% 87.672%,
            99.922% 86.6%,
            99.96% 85.411%,
            99.983% 84.091%,
            99.995% 82.625%,
            99.999% 80.999%,
            100% 79.198%,
            100% 0%
        );

        h2 {
            font-size: 48px;
            align-self: end;
            margin: 0;
            margin-bottom: 44px;
            text-transform: uppercase;
        }

        .formFields {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            gap: 16px;
        }

        label {
            display: flex;
            align-items: center;
            gap: 12px;
        }
        input {
            width: 270px;
        }

        .controls {
            display: flex;
            gap: 16px;
            width: 100%;
            margin-top: 16px;

            :first-child {
                width: 100%;
            }
        }
    }
}

.register form {
    clip-path: polygon(
        100% 0%,
        51.065% 0%,
        42.778% 18.052%,
        10.676% 18.052%,
        10.676% 18.052%,
        9.752% 18.053%,
        8.918% 18.061%,
        8.165% 18.084%,
        7.488% 18.129%,
        6.877% 18.203%,
        6.327% 18.313%,
        5.83% 18.466%,
        5.377% 18.67%,
        4.962% 18.933%,
        4.577% 19.26%,
        4.577% 19.26%,
        4.241% 19.613%,
        3.92% 20.007%,
        3.613% 20.438%,
        3.322% 20.906%,
        3.046% 21.409%,
        2.788% 21.945%,
        2.548% 22.512%,
        2.327% 23.11%,
        2.125% 23.737%,
        1.944% 24.39%,
        1.944% 24.39%,
        1.776% 25.14%,
        1.641% 25.949%,
        1.536% 26.831%,
        1.458% 27.801%,
        1.401% 28.873%,
        1.363% 30.062%,
        1.34% 31.382%,
        1.328% 32.848%,
        1.324% 34.474%,
        1.324% 36.275%,
        1.324% 79.198%,
        1.324% 79.198%,
        1.324% 80.999%,
        1.328% 82.625%,
        1.34% 84.091%,
        1.363% 85.411%,
        1.401% 86.6%,
        1.458% 87.672%,
        1.536% 88.642%,
        1.641% 89.524%,
        1.776% 90.333%,
        1.944% 91.083%,
        1.944% 91.083%,
        2.125% 91.736%,
        2.327% 92.362%,
        2.548% 92.96%,
        2.788% 93.528%,
        3.046% 94.064%,
        3.322% 94.567%,
        3.613% 95.035%,
        3.92% 95.466%,
        4.241% 95.859%,
        4.577% 96.213%,
        4.577% 96.213%,
        4.962% 96.54%,
        5.377% 96.802%,
        5.83% 97.007%,
        6.327% 97.16%,
        6.877% 97.27%,
        7.488% 97.344%,
        8.165% 97.389%,
        8.918% 97.412%,
        9.752% 97.42%,
        10.676% 97.421%,
        90.647% 97.421%,
        90.647% 97.421%,
        91.571% 97.42%,
        92.406% 97.412%,
        93.158% 97.389%,
        93.836% 97.344%,
        94.446% 97.27%,
        94.996% 97.16%,
        95.494% 97.007%,
        95.947% 96.802%,
        96.362% 96.54%,
        96.747% 96.213%,
        96.747% 96.213%,
        97.082% 95.859%,
        97.404% 95.466%,
        97.711% 95.035%,
        98.002% 94.567%,
        98.277% 94.064%,
        98.535% 93.528%,
        98.775% 92.96%,
        98.997% 92.362%,
        99.198% 91.736%,
        99.38% 91.083%,
        99.38% 91.083%,
        99.548% 90.333%,
        99.682% 89.524%,
        99.787% 88.642%,
        99.866% 87.672%,
        99.922% 86.6%,
        99.96% 85.411%,
        99.983% 84.091%,
        99.995% 82.625%,
        99.999% 80.999%,
        100% 79.198%,
        100% 0%
    );
}
