.button {
    display: inline-block;
    padding: 12px 22px;
    background-color: var(--color-3);
    color: var(--color-1);

    font-size: var(--font-size-text);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;
    border: none;
    border-radius: var(--border-radius-2);
    box-shadow: var(--shadow);

    transition: opacity var(--transition);

    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.6;
    }

    &.primary {
        background-color: var(--color-primary);
    }
}
