.input {
    padding: 10px;
    font-size: 16px;
    background-color: var(--color-4);
    color: var(--color-1);

    font-size: var(--font-size-text);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    border-radius: var(--border-radius-2);
    box-shadow: var(--shadow) inset;

    &::placeholder {
        color: var(--color-3);
    }
}

.label {
    text-transform: uppercase;
}
