@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
    --color-1: #001721;
    --color-2: #025159;
    --color-3: #038c8c;
    --color-4: #03a696;

    --color-primary: #f28705;

    --border-radius-1: 40px;
    --border-radius-2: 16px;
    --transition: 0.2s ease;

    --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);

    --font-size-text: 16px;

    color-scheme: dark;
    background-color: var(--color-1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    font-family: "Russo One", sans-serif;
    color: var(--color-4);

    font-style: normal;
    line-height: normal;
    font-weight: 400;
}
body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
#root {
    width: 100%;
    height: 100vh;
}

/* text elements */
p,
label,
span,
a,
button {
    font-size: var(--font-size-text);
    text-shadow: var(--shadow);
}

a {
    text-decoration: none;
}

*:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
}
